@import './base.css';

@font-face {
    font-family: Roboto;
    src: url('./Roboto-Regular.ttf');
}

* {
    transition: background-color 700ms;
}

body {
    font-family: Roboto;
    background: var(--main-bg);
    color: var(--main-color);
}